@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .active{
    background-color: red;
  }

  .dashboard {
    padding: 20px;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-around;
  }

  
  
  .chart {
    width: 30%;
  }

  /* Loader spinner */
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #ffffff; /* White for contrast */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
  