@tailwind base;
@tailwind components;
@tailwind utilities;

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .active{
    background-color: red;
  }

  .dashboard {
    padding: 20px;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-around;
  }
  
  .chart {
    width: 30%;
  }
  
  